{erl_opts, [debug_info]}.
{deps, [
  {cowboy, {git,"https://github.com/ninenines/cowboy.git"}},
  {jsone, {git, "https://github.com/sile/jsone.git"}},
  {mysql, {git,"https://github.com/mysql-otp/mysql-otp.git"}}
]}.

{profiles, [
  {test,   [
    {deps, [ 
      {mixer, {git, "https://github.com/inaka/mixer.git"}}
    ]}
  ]}
]}.

{ct_opts, [{sys_config, ["config/test.config"]}]}.

{shell, [
  {config, "config/env.config"},
  {apps, [rest_auth]}
]}.

{dialyzer, [
    {warnings, [underspecs, no_return, no_improper_lists, race_conditions]},
    {get_warnings, true},
    {plt_apps, top_level_deps},
    {plt_extra_apps, []},
    {plt_location, local},
    {plt_prefix, "rebar3"},
    {base_plt_apps, [stdlib, kernel, crypto]},
    {base_plt_location, local},
    {base_plt_prefix, "rebar3"}
]}.